*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
body {
    font-family: sans-serif;
}

.header__top-bar {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.header__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    
}

.header__menu {
    list-style: none;
    display: flex;
    gap: 30px;
    text-decoration: none;
}

.header__link {
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition: color 0.3s ease;

}

.header__link:hover {
  color: rgb(35, 216, 65);
}

.header__actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__logo {
    text-decoration: none;
    font-size: 30px;
    color: black;
    font-weight: 600;
    
}

.header__icon-btn  {
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: bold;
    

}

.header__cart {
    position: relative;
}

.header__cart-count {
    position: absolute;
    top: -2px;
    left: -3px;
    background-color: greenyellow;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}